/* /!\ always use the dash-spaced pattern (my-class and not myClass) for id and class names /!\ */

.welcome-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    color: rgba(255,255,255,1);
}

.welcome-content .welcome-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.welcome-content .welcome-content-inner hr {
    margin: 30px auto;
}
a:link {color: light gray;}
a:visited {color: gray;}
a:hover, a:focus, a:active {color: rgb(239, 89, 57);}

.welcome-content .welcome-content-inner p {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    color: rgb(239, 89, 57);
    font-weight : bold;
}

.filtre-content {
    float: left;
    width: 20%;
    background-color: rgba(74, 66, 63, 0.67);
}

.form{
 padding:3px;
 width:72%;
 }

.footer {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: rgba(255,255,255,.7);
}

.table-striped tr:nth-child(2n) {
   background-color: rgba(74, 66, 63, 0.67);
   color: rgb(168, 163, 163);
}

.table {
    background-color: rgba(74, 66, 63, 0.67);
    color: rgba(255,255,255,1);
    font-size : 15px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th  {
    background-color: rgba(239, 89, 57,0.7);
}


.title-table {
    color: rgba(239, 89, 57,1);
    font-size : 18px;
}

.submit-button {
	background-color:#EF5939;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #EF5939;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.submit-button:hover {
	background-color:#0066FF;
	border:1px solid #0066FF;
}
.submit-button:active {
	position:relative;
	top:1px;
}

.submit-tab {
	background-color: rgba(74, 66, 63, 0.67);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #EF5939;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:5px 15px;
	text-shadow:0px 1px 0px #2f6627;
}
.submit-tab:hover {
	background-color:#0066FF;
	border:1px solid #0066FF;
}

.white {
    color: rgba(255,255,255,1);
}

/* centered navigation */

 .nav.navbar-nav {
     float: left;
     margin: 0;
     padding: 0;
     position: relative;
     left: 50%;
     text-align: center;
 }
 .nav.navbar-nav > li {
     position: relative;
     right: 50%;
 }
 .nav.navbar-nav li {
    text-align: left
 }

.tw-share-button
{
    float: right;
    cursor:pointer;
}

.fb-share-button
{
    float: right;
    margin-right: 15px;
    cursor:pointer;
}