/* /!\ always use the dash-spaced pattern (my-class and not myClass) for id and class names /!\ */

.welcome-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    color: rgba(255,255,255,1);
}

.welcome-content .welcome-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.welcome-content .welcome-content-inner hr {
    margin: 30px auto;
}

.welcome-content .welcome-content-inner p {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    color: rgb(239, 89, 57);
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: rgba(255,255,255,.7);
}

.submit-button {
	background-color:#EF5939;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #EF5939;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.submit-button:hover {
	background-color:#0066FF;
	border:1px solid #0066FF;
}
.submit-button:active {
	position:relative;
	top:1px;
}





}
